.typewriter {
    display: inline;
}

.cursor {
    display: inline-block;
    color: var(--color-accent-primary);
    animation: blink 1s step-end infinite;
    font-weight: 300;
    margin-left: 2px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}